<!--frontend.html-->
<head>
  <title>Pump Control</title>
</head>
<body>
  <h1>Pump Control</h1>
  <h2>Mode Select:</h2>
  <p>Current mode: {{ active_mode }}</p>
  <form method="post">
    {% csrf_token %}
    <input type="submit" value="Manual" name="Mode.Manual">
    <input type="submit" value="Scheduled" name="Mode.Scheduled">
    <input type="submit" value="Timed" name="Mode.Timed">
  </form>
  <!--<p>New mode: {{ new_mode }}</p>-->
  <h3>Manual Control:</h3>
  <p>State: {{ manual_state }}</p>
  <form method="post">
    {% csrf_token %}
    <input type="submit" value="OFF" name="Manual.Off">
    <input type="submit" value="ON" name="Manual.On">
  </form>
  <h3>Active Schedule:</h3>
  <p><pre>{{ schedule_simple | linebreaksbr }}</pre></p>
</body>